.main_menu {
  border: 2px;
  border-color: red;
  display: flow-root;
  background: #43ffe0;
}

.main_menu .nav_item {
  float: left;
  margin: 5px;
  list-style: none;
  padding: 35px;
  display: block;
}
.main_menu .nav_item a {
  color: red;
  font-size: 25px;
  text-decoration: none;
}

/*slider_style*/
.slider_conten {
  display: flow-root;
}
.slider_img img {
  float: left;
  width: 24%;
  height: 300px;
  border: 5px red;
  padding: 5px;
  overflow: auto;
  display: flow-root;
}

/*contern style*/

.content p {
  font-size: 25px;
  padding: 50px;
}

/* footer style */

.footer_menu {
  display: flow-root;
  background: #2f01a2;
  margin-bottom: 50px;
}

.footer_menu .nav_item {
  float: left;
  margin: 5px;
  list-style: none;
  padding: 35px;
  display: block;
}
.footer_menu .nav_item a {
  color: rgb(91, 246, 7);
  font-size: 25px;
  text-decoration: none;
}





